#docs {
  display: flex;
}

.sidebarContainer {
  height: 100vh;
  width: 350px;
  margin: 10px;
  background-color: #23262f;
  border-radius: 10px;
  position: static;
}

.sidebarContainer > h2,
.sidebarContainer > .navlink {
  background-color: #23262f;
}

.sidebarContainer > h2 {
  color: #eded7c;
  margin: 20px 30px 0 30px;
}

.sidebarContainer > .navlink {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  margin: 20px 0 0 50px;
  padding-left: 10px;
  color: #fff;
}

.sidebarContainer > .navlink > p {
  font-weight: 400;
  background-color: #23262f;
}

.sidebarContainer > .navlink:hover p {
  color: #9e9e9e;
  transition: all 0.2s;
}

.sidebarContainer > .navlink > i {
  padding: 2px 5px 0 0;
  background-color: #23262f;
}

.responseContainer {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  overflow-y: auto;
  background-color: #23262f;
}

@media (600px > width) {
  .sidebarContainer {
    height: 380px;
    width: 370px;
    text-align: center;
  }
  .sidebarContainer > .navlink {
    margin: 20px 0 0 85px;
    width: 200px;
  }

  .sidebarContainer > .navlink > i {
    display: none;
  }

  .navlink {
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}
