#footerContainer {
  height: 130px;
  background-color: #23262f;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footerContainer > h2 {
  background-color: #23262f;
  color: #eded7c;
}

#footerContainer > p {
  background-color: #23262f;
  font-size: 18px;
  color: #9e9e9e;
}

@media (600px >= width) {
  #footerContainer {
    flex-direction: column;
    height: 180px;
  }
}
